/* page.module.css file */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');

main.search-page {
  width: 100%;
  padding: 50px 0px;
  display: grid;
  place-items: center;
}

main.search-page header {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main.search-page header a {
  color: #585858;
  font-weight: 500;
}

main.search-page header a.signup {
  padding: 15px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: 0;
}

main.search-page header .menu-1 {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

main.search-page header .header-menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

main.search-page header .menu-2 {
  display: none;
  cursor: pointer;
}

main.search-page section.main {
  width: 70%;
  height: auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

main.search-page section.main .section-header {
  width: 100%;
  /* background-color: #f9f6f1; */
  padding: 50px;
  border-radius: 4px;
}

main.search-page section.main .header-title {
  font-weight: 500;
  font-size: 40px;
  /* margin-bottom: 50px; */
}

main.search-page section.main .section-header>div {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  /* width: 40%; */

  width: 60%;
}

main.search-page section.main .section-header>div h1 {
  /* width: 100%;
    font-size: 30px; */


  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
}

main.search-page section.main .section-header>div p {
  width: 100%;
  color: #585858;
  font-weight: 500;
  line-height: 20px;
}

main.search-page section.main .section-header>div form {
  width: 100%;
  display: flex;
  column-gap: 12px;
}

main.search-page section.main .section-header>div form .form-group {
  position: relative;
}

main.search-page section.main .section-header>div form .form-group input {
  width: 250px;
  padding: 15px 20px 15px 40px;
  border: 0;
  outline: none;
  border-radius: 4px;
}

main.search-page section.main .section-header>div form .form-group span {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

main.search-page section.main .section-header>div form .form-group button {
  background: #000;
  color: #fff;
  padding: 14px 16px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

main.search-page section.main .section-header>div a {
  color: #585858;
  text-decoration: underline;
}

main.search-page section.main .section-main {
  width: 100%;
}

main.search-page section.main .section-main div.articles {
  width: 100%;
  display: flex;
  column-gap: 20px;
  row-gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

main.search-page section.main .section-main div.articles .article {
  width: calc(calc(100% / 3) - 20px);
  border: 1px solid #ededed;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: space-between;
}

main.search-page section.main .section-main div.articles .article .article-img {
  width: 100%;
}

main.search-page section.main .section-main div.articles .article .article-img img {
  width: 100%;
  border-radius: 5px;
}

main.search-page section.main .section-main div.articles .article .article-title {
  width: 100%;
}

main.search-page section.main .section-main div.articles .article .article-title h5 {
  font-size: 18px;
}

main.search-page section.main .section-main div.articles .article .article-desc {
  width: 100%;
}

main.search-page section.main .section-main div.articles .article .article-desc p {
  font-size: 14px;
  color: #585858;
}

main.search-page section.main .section-main div.articles .article .article-link {
  width: 100%;
  border: 1px solid #ededed;
}

main.search-page section.main .section-main div.articles .article .article-link a {
  padding: 15px 20px;
  text-align: center;
  color: black;
  font-weight: bold;
  display: block;
}

main.search-page footer {
  width: 70%;
  height: auto;
}

main.search-page footer .footer-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main.search-page nav#mobile-nav {
  display: none;
  width: 90%;
  background: #f9f6f1;
  margin-top: 20px;
  margin-bottom: -10px;
}

main.search-page nav#mobile-nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px 25px;
}

main.search-page nav#mobile-nav ul li a {
  color: #585858;
}

main.search-page nav#mobile-nav ul li a:hover {
  text-decoration: underline;
}

main.search-page nav#mobile-nav.active {
  display: block;
}

.nav-brand {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  background: black;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: relative;
  display: flex;
  z-index: 0;
}

.nav-brand:hover:before,
.nav-brand:hover:after {
  opacity: 0;
}

.nav-brand:hover:before {
  transform: translate(-10px, -10px);
}

.nav-brand:hover:after {
  transform: translate(10px, 10px);
}

.nav-brand:before,
.nav-brand:after {
  content: '';
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  position: absolute;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
}

.nav-brand:before {
  background-color: #f00;
}

.nav-brand:after {
  background-color: #000;
}

.nav-brand span {
  width: 100%;
  align-self: center;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  main.search-page header {
    width: 80%;
  }

  main.search-page section.main {
    width: 80%;
  }

  main.search-page footer {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  main.search-page header {
    width: 90%;
  }

  main.search-page header .header-menu {
    display: none;
  }

  main.search-page header .menu-2 {
    display: block;
  }

  main.search-page section.main {
    width: 90%;
  }

  main.search-page section.main .section-header>div {
    width: 70%;
  }

  main.search-page section.main .section-main div.articles .article {
    width: calc(calc(100% / 2) - 20px);
  }

  main.search-page footer {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  main.search-page {
    padding: 30px 0px;
  }

  main.search-page section.main {
    padding: 30px 0px;
    row-gap: 30px;
  }

  main.search-page section.main .section-header {
    padding: 25px;
  }

  main.search-page section.main .section-header>div {
    width: 100%;
  }

  main.search-page section.main .section-header>div form {
    width: 100%;
  }

  main.search-page section.main .section-header>div form .form-group input {
    width: 180px;
  }

  main.search-page section.main .section-main div.articles .article {
    width: 100%;
  }
}